%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Script-Type', :content => 'text/javascript'}

    %title Crimson Crisp
    = stylesheet_link_tag 'whitespace-reset'
    = stylesheet_link_tag 'application'

  %body
    #header
      .container
        %h1= link_to "Crimson Crisp", "#"
        %ul#nav
          %li= link_to "Books", "#"
        %ul#global
          %li= link_to "Sign In", "#"

    #application
      .container
        = yield
